* {
    font-family: 'Roboto', sans-serif;
}

#container {
    padding: 10px 50px;
    margin: 20px;
}

.chartBox {
    max-width: 1000px;
    margin: 0 auto;
}

.data-tooltip {

    padding: 10px;
    font-weight: bold;
    color: aliceblue;
    font-family: Roboto;