H2 {
    text-align: center;
    background-color: #054ada;
    color: #f2f2f2;
    margin: 0px 491px;
    padding: 10px;
    border-radius: 3px 3px 0px 0px;
}

#listTask {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#listTask td,
#listTask th {
    border: 1px solid #ddd;
    padding: 8px;
}

#listTask td.centeredColumn {
    text-align: center;
}

#listTask tr:nth-child(even) {
    background-color: #f2f2f2;
}

#listTask tr:hover {
    background-color: #ddd;
}


#listTask th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.buttonDelete {
    background-color: #f44336;
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin: 4px 2px;
    padding: 10px 24px;
    cursor: pointer;
    border-style: none;
}

.containerTable table {
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 50px;
    border-radius: 3px;
}